@mixin hide {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin inputField {
    padding: 0px 5%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid $color-gray-3;
}