
:root {
    --color-white: #FFFFFF;
    --color-pink-100: #EE2F80;
    --color-pink-10: #FEEBF3;
    --color-pink-30: #FAC1D9;
    --color-pink-10: #FEEFEB;
    --color-orange-30: #FBCEC1;
    --color-orange-10: #FEEFEB;
    --color-green-30: #00DCB4;
    --color-green-10: #E6FCF8;
    --color-blue-100: #000B30;
    --color-blue-50: #333C59;
    --color-blue-10: #E7EDFD;
    --color-gray-50: #808598;
    --color-gray-20: #CCCED6;
    --color-gray-10: #F2F3F5;
}