:root {
  --color-white: #FFFFFF;
  --color-pink-10: #FEEBF3;
  --color-pink-30: #FAC1D9;
  --color-orange-10: #FEEFEB;
  --color-orange-30: #FBCEC1;
  --color-green-10: #B3F5E9;
  --color-green-30: #00DCB4;
  --color-blue-10: #E7EDFD;
  --color-blue-100: #000B30;
  --color-gray-50: #808598;
  --color-gray-20: #CCCED6;
}