@import './helpers/mixins'; @import './helpers/variables'; @import './helpers/fonts';

body {
    display: flex;
    background-color: var(--color-white);
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
    box-sizing: border-box;
    align-items: flex-start;
    font-family: 'Inter';
}

button {
    cursor: pointer;
}

.new-task {
    position: fixed;
    border: none;
    padding: 0;
    background: var(--color-white);
    width: 420px;
    height: 700px;
    border-radius: 15px;
    z-index: 2;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .new-task__inner {
        display: flex;
        @include display-center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 15px 20px;
        gap: 15px;
        width: 100%;
        height: 100%;
    }

    .new-task__input-name,
    .new-task__input-desc,
    .new-task__date,
    .new-task__tags {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;

        #inputDesc {
            resize: none;
        }

        input,
        textarea,
        .new-task__tags-pick {
            display: flex;
            align-items: center;
            gap: 5px;
            @include inputField;


            .new-task__tag-btn {
                @include display-center;
                width: 46px;
                height: 22px;
                border: none;
                border-radius: 8px;
            }
            .new-task__tag-btn--mid  {
                background: var(--color-gray-50);
                color: var(--color-white);
            }
            .new-task__tag-btn--high  {
                background: var(--color-blue-100);
                color: var(--color-white);
            }
            .new-task__tag-btn--low  {
                background: var(--color-gray-20);
            }
        }
    }
        .new-task__btns {
            @include display-center;
            width: 100%;
            gap: 10px;

            .new-task__cancel {
                background: var(--color-gray-10);
                border: 2px solid var(--color-gray-20);
            }

            .new-task__confirm {
                background: var(--color-gray-50);
                border: 2px solid var(--color-gray-20);
                color: var(--color-white);
            }

            button {
                width: 170px;
                height: 48px;
                border-radius: 12px;
                font-size: 1.25rem;
            }
        }
}

.todo-panel {
    position: fixed;
    background-color: var(--color-white);
    padding: 0px;
    width: 400px;
    height: 250px;
    border: none;
    z-index: 2;
    border-radius: 15px;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .todo-panel__inner {
        display: flex;
        @include display-center;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 60px;
    }

    .todo-panel__buttons {
        @include display-center;
        top: 0;
        width: 100%;
        height: 30%;
        gap: 25px;
    }

    .todo-panel__btn-change-date,
    .todo-panel__btn-move {
        @include display-center;
        display: flex;
        width: 35%;
        height: 40px;
        border-radius: 5px;
        border: none;
    }
    .todo-panel__btn-change-date {
        background: var(--color-orange-30);
    }
    .todo-panel__btn-move {
        background: var(--color-blue-50);
        color: var(--color-white)
    }

    .todo-panel__new-date-block {
        @include display-center;
        flex-direction: column;
        gap: 35px;
        
        .todo-panel_new-date-accept {
            @include display-center;
            background-color: var(--color-green-30);
            display: flex;
            width: 80px;
            height: 40px;
            border-radius: 5px;
            border: none;
        }
    }
}


header {

    .header-wrapper {
        padding: 0px 150px 0px 150px;
        display: flex;
        height: 20vh;
        align-items: center;
        width: 100vw;

        .create-new-task {
            @include display-center;
            position: absolute;
            box-sizing: border-box;
            right: 5%;

            font-size: 1.25rem;
            color: var(--color-white);
            width: 180px;
            height: 48px;
            background: var(--color-blue-100);
            border: 2px solid var(--color-pink-10);
            border-radius: 16px;

            &:active {
                background: var(--color-blue-50);
            }
        }
    }
}

.tracker {
    padding: 0px 150px 0px 150px;
    display: flex;
    gap: 150px;
    width: 100%;
    height: auto;

    .block-todo,
    .block-inprogress,
    .block-done {
            display: flex;
            gap: 10px;
            flex-direction: column;
            height: auto;
            width: 400px;

            .header-block {
                display: flex;
                align-items: center;
                border-radius: 16px;
                padding: 0px 20px 0px 20px;
                box-sizing: border-box;
                font-size: 1.25rem;
                width: 100%;
                height: 60px;
            }
            .header-block--red {
                background: var(--color-pink-10);
                border: 2px solid var(--color-pink-30);
            }

            .header-block--orange {
                background: var(--color-orange-10);
                border: 2px solid var(--color-orange-30);
            }

            .header-block--blue {
                background: var( --color-green-10);
                border: 2px solid var( --color-green-30);
            }

            .body-block {
                display: flex;
                flex-direction: column;
                gap: 15px;
                border-radius: 16px;
                width: 100%;
                min-height: 500px;
                height: auto;
                box-sizing: border-box;
                padding: 15px;

                .block-tracker {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    cursor: pointer;
                    width: 100%;
                    border: 2px solid var(--color-pink-30);
                    border-radius: 16px;
                    box-sizing: border-box;
                    padding: 15px;
                    background: var(--color-white);
                    gap: 25px;
                    max-height: 225px;
                    height: fit-content;

                    .block__tracker-name {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    .block__btn-tracker-close {
                        @include display-center;
                        position: absolute;
                        background: var(--color-pink-30);
                        color: var(--color-pink-100);
                        right: 20px;
                        width: 23px;
                        height: 23px;
                        border: 0px;
                        border-radius: 2px;
                        font-weight: bold;

                        font-size: 1rem;
                    }
                    .block__tracker-end-date {
                        font-weight: bold;
                    }

                    .block__tracker-priority-low, 
                    .block__tracker-priority-mid,
                    .block__tracker-priority-high {
                        @include display-center;
                        color: var(--color-white);
                        min-height: 30px;
                        width: 20%;
                        border-radius: 8px;
                    }

                    .block__tracker-priority-low {
                        background: var(--color-gray-20);
                    }
                    .block__tracker-priority-mid {
                        background: var(--color-gray-50);
                    }
                    .block__tracker-priority-high {
                        background: var(--color-blue-100);
                    }
                }
            }
            .body-block--red {
                    background: var(--color-pink-10);
                    border: 2px solid var(--color-pink-30);
                }

            .body-block--orange {
                background: var(--color-orange-10);
                border: 2px solid var(--color-orange-30);
            }

            .body-block--blue {
                background: var(--color-green-10);
                border: 2px solid var(--color-green-30);
            }
        }
    }
footer {
    width: 100%;
    height: 75px;
}